@import "./../../../style/constants";

.nozzle {
  .nozzle-button {
    border: none;
    background: none;
    display: block;
    width: 60%;
    margin-left: 20%;
    transition: transform .2s ease-out;
    .nozzle-img {
      margin-top: $padding*2;
      width: 100%;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: -webkit-grab;
    }
  }
  .nozzle-button.lifted {
    transform: translateY(-$padding*2);
    cursor: -webkit-grabbing;
  }
}