@import "./../../../style/constants";

.keypad {
  width: 84%;
  margin-left: 8%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "one two three" "four five six" "seven eight nine" "null zero clear";
  grid-gap: $padding/3 $padding/3;

  .button {
    /** calculated by: font-size / tablete-width * 100 **/
    font-size: 2vw;
    font-weight: bolder;
    padding: 0;
    background: $keypad-background;
    border: $bold-border-width solid $dark-black;
    border-radius: 25%;
    position: relative;
    min-width: 2*$line-height*$font-size;

    .text {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    &:focus {
      outline: none;
    }
    &::before {
      content: "";
      float: left;
      padding-bottom: 100%;
    }
    &::after {
      clear: left;
      content: " ";
      display: table;
    }
    &:nth-last-child(2) {
      grid-area: zero;
    }
    &:last-child {
      grid-area: clear;
    }
    @media screen and (max-width: $tablet-width) {
      font-size: $tablet-width*0.07;
    }

    @media screen and (min-width: $L-laptop-width) {
      font-size: $L-laptop-width/$tablet-width*$font-size;
    }
  }
}