@import "./../../style/constants";

.LCD-container {
  margin-top: $padding;
  width: 100%;

  .LCD-panel {
    background: $lcd-background;
    border: $bold-border-width solid $dark-black;
    border-radius: 10px;
    width: 100%;
    padding: $padding/5 0;
  }
  .LCD-title {
    margin-top: $padding/3;
    text-align: center;
  }
}