@import "~node.normalize.scss/_normalize.scss";

* {
  box-sizing: border-box;
}

html,
body,
#viewport,
.app {
  width: 100%;
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "keypad pump";

  .header {
    grid-area: header;
  }
  .keypad {
    grid-area: keypad;
  }
  .pump {
    grid-area: pump;
  }
}
